.V-Grid {
    background: cornflowerblue;
    width: var(--VG_width);
    min-width: var(--VG_width);
    max-width: var(--VG_width);
    margin: 0 auto;
    height: var(--VG_height);
    transition: width 1s;
    line-height: var(--SIZE_H);
    box-sizing: border-box;
    will-change: scroll-position;
    content-visibility: auto;
    overflow: hidden;
}

/* BLOCK */
/* BLOCK */
/* BLOCK */
.V-Grid > div {
    min-height: 25px;
    /* display: flex;
    flex-wrap: wrap; */
    /* padding-bottom: 25px; */
}
.V-Grid > div:hover {
    /* background: #000; */
}
.V-Grid div:first-child {
    /* padding-bottom: 0; */
}

/* WORD */
/* WORD */
/* WORD */
.V-Grid span:is(:nth-child(1), :nth-child(2)) {
    background: steelblue;
    height: 5px;
    vertical-align: baseline;
}
.V-Grid span:nth-child(3) {
    /* font-size: 2em;
    position: relative;
    top: -10px;
    left: -20px; */
}
.V-Grid span:hover {
    isolation: isolate;
    outline: white double 5px;
    box-shadow: inset 0px 0px 0px 2px red;
}
.V-Grid span:not([data-invalid=' ']):hover {
    /* outline: white double 5px; */
}
.V-Grid span {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    height: var(--SIZE_H);
    width: var(--SIZE_W);
    /* margin: 5px 0; */

    box-sizing: border-box; /*否则last会在speaking状态下失效*/
    /* for filter */
    /* background: cornflowerblue;  */
    /* transition: color 0.1s, background-color 0.1s; */
}

/* [data-invalid='：']:has(+ :not([data-invalid='“'])) {
    background: #7171e2;
} */
span.isTarget {
    background: red;
    filter: hue-rotate(90deg);
    border-top: 3px solid;
    border-bottom: 3px solid;
}
:not(.isTarget) + .isTarget {
    border-left: 3px solid;
}
/* .isTarget:has(+ :not(.isTarget)) {
    border-right: 3px solid;
} */
span[data-invalid='“'] {
    display: inline-flex;
    justify-content: end;
}
span[data-invalid='”'] {
    display: inline-flex;
    justify-content: start;
}

body {
    margin: 0;
}
#root {
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    display: grid;
    grid-template-rows: var(--readerHight) auto;
    grid-template-columns: 100px auto;
    background: steelblue;
}
.search {
    width: 14px;
    position: absolute;
    right: 0;
    top: 20px;
    bottom: 70px;
    pointer-events: none;
    box-sizing: border-box;
    /* background: chocolate; */
    opacity: 0.5;
}
.search i {
    width: 14px;
    height: 1px;
    background: red;
    position: absolute;
}

.control {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}

.reader {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
}

.autoScrolling {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
}

.control {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: inherit;
    background: yellowgreen;
    overflow: hidden;
}
.reader {
    scroll-behavior: smooth;
    display: flex;
    flex-grow: 1;
    height: var(--readerHight);
    /* background: steelblue; */
    color: aliceblue;
    font-size: 25px;
    font-family: fangsong;
    /* todo */
    overflow: hidden;
    flex-shrink: 0;
    /* justify-content: center; */
    /* 此情况下子元素直接用margin: 0 auto更好, 在缩小时会居左, 而justify-content扔会居中 */
    overflow-y: scroll;
    transition: height 0.4s;
}
.reader .reader-helper {
    position: absolute;
    z-index: 1;
    transition-property: top, background-color, height, opacity;
    transition-duration: 0.3s;
    width: 100%;
    /* 需要设置0 才能响应transition */
    height: 0;
    opacity: 0;
}
.reader .next {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: var(--SIZE_H);
    background: yellowgreen;
}
.reader .next:hover {
    background: steelblue;
}
[class*='select'] {
    background-color: var(--var-color);
}

.selectItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    overflow: hidden;
}
.selectItem span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
}
.selectItem span.key {
    flex-shrink: 1;
}

.isPined {
    background: sandybrown;
}
.speaking {
    background: teal;
}

.hoverByJs.hoverByJs.hoverByJs.hoverByJs {
    color: springgreen;
    background: dimgrey;
    outline: double;
}
