body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
#root {
    display: flex;
    height: 100vh;
}
.control {
    display: flex;
    flex-direction: column;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    background: yellowgreen;
    box-sizing: border-box;
}
.control input {
    width: 100%;
    box-sizing: border-box;
}
.control .count {
    display: flex;
    justify-content: flex-start;
}
.reader {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* align-items: center; */
    background: steelblue;
    color: aliceblue;
    font-size: 25px;
    font-family: cursive;
    position: relative;
    /* for .next */
    overflow: hidden;
}
.reader .reader-helper {
    position: absolute;
    z-index: 1;
    transition-property: top, background-color, height, opacity;
    transition-duration: 0.3s;

    width: 100%;
    /* 需要设置0 才能响应transition */
    height: 0;
    opacity: 0;
}
.reader .next {
    display: flex;
    justify-content: center;
}
.reader .next:hover {
    background: yellowgreen;
}

.container {
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    /* background: cornflowerblue; */
}
.V-Grid {
    background: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    /* 没高度也能显示子元素 why */
    height: fit-content;
}
/* ITEM class */

/* ITEM class */

/* ITEM class */

/* ITEM class */

.V-Grid span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    box-sizing: border-box; /*否则last会在speaking状态下失效*/
    /* for filter */
    /* background: cornflowerblue;  */
    transition: color 0.1s, background-color 0.2s;
}
.V-Grid span:is(:first-child, :last-child) {
    background: steelblue;
}
span.speaking,
[data-e='：']:has(+ :not([data-e='“'])) {
    background: #7171e2;
}

span.isTarget {
    background: red;
    filter: hue-rotate(90deg);
    border-top: 3px solid;
    border-bottom: 3px solid;
}
:not(.isTarget) + .isTarget {
    border-left: 3px solid;
}
.isTarget:has(+ :not(.isTarget)) {
    border-right: 3px solid;
}
span[data-invalid='“'] {
    justify-content: end;
}
span[data-invalid='”'] {
    justify-content: start;
}
[class*='select'] {
    background-color: var(--var-color);
}
/* ITEM class */

/* ITEM class */

/* ITEM class */

/* ITEM class */
::selection {
    background-color: #9acd3266;
}

.selectItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    overflow: hidden;
}
.selectItem span {
    min-width: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
}
.selectItem span.key {
    flex-shrink: 1;
}
BACKUP {
    color: rgb(249, 181, 42);
    /* 299e81 */
}

/* // queryDomAll(":has(~:nth-child(150)):not(:has(~:nth-child(100)))") */
